<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

	<head>
		<title>{{locale "site-title"}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
                <link type="image/x-icon" rel="icon" href="/images/boxmine/favicon.ico">

 		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/boxmine/joint.css" />

		<!-- <link rel="stylesheet" type="text/css" href="/styles/elastic-core/core.css" /> -->
		<link rel="stylesheet" type="text/css" href="/libs/boxmine/foundation/css/foundation.css" />
       		<link rel="stylesheet" type="text/css" href="/styles/boxmine/global.css" />

		<script type="text/javascript" src="/scripts/boxmine/shared.js" charset="utf-8"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/vendor/jquery.js"></script>
		<script type="text/javascript" src="/libs/boxmine/joint.min.js"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/foundation.min.js"></script>
	</head>
	
	<body>

		<script type="text/javascript">
			{{{home_js}}}
		</script>

		{{#if user}}
			<script type="text/javascript">
				{{{grapher_js}}}
			</script>
		{{/if}}

		<div id="error-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<div class="row collapse">
				<div id="error-message" class="large expand columns">An error occured!</div>
			</div>

			<div class="row">&nbsp;</div>

			<div class="row collapse">
				<div class="large-3 large-centered columns">
					<a href="#" class="lightbox-cancel-button tiny button alert expand">Ok</a>
				</div>
			</div>
		</div>

		{{#if user}}

			<div class="icon-bar five-up">
				<a id="new-document-button" class="item">
					<img src="/images/boxmine/window-new.png">
					<label>New</label>
				</a>
				<a id="open-document-button" class="item">
					<img src="/images/boxmine/document-open.png">
					<label>Open</label>
				</a>
				<a id="save-document-button" class="item">
					<img src="/images/boxmine/document-save.png">
					<label>Save</label>
				</a>
				<a id="export-document-button" class="item">
					<img src="/images/boxmine/document-save-as.png">
					<label>Export</label>
				</a>
				<a id="undo-button" class="item">
					<img src="/images/boxmine/edit-undo.png">
					<label>Undo</label>
				</a>
				<a id="redo-button" class="item">
					<img src="/images/boxmine/edit-redo.png">
					<label>Redo</label>
				</a>
				<a id="cut-button" class="item">
					<img src="/images/boxmine/edit-cut.png">
					<label>Cut</label>
				</a>
				<a id="copy-button" class="item">
					<img src="/images/boxmine/edit-copy.png">
					<label>Copy</label>
				</a>
				<a id="paste-button" class="item">
					<img src="/images/boxmine/edit-paste.png">
					<label>Paste</label>
				</a>
				<a id="delete-button" class="item">
					<img src="/images/boxmine/edit-delete.png">
					<label>Delete</label>
				</a>
				<a id="select-all-button" class="item">
					<img src="/images/boxmine/edit-select-all.png">
					<label>Select All</label>
				</a>
				<a id="group-button" class="item">
					<img src="/images/boxmine/group.png">
					<label>Group</label>
				</a>
				<a id="ungroup-button" class="item">
					<img src="/images/boxmine/ungroup.png">
					<label>Ungroup</label>
				</a>
				<a id="move-up-button" class="item">
					<img src="/images/boxmine/go-up.png">
					<label>Move Up</label>
				</a>
				<a id="move-down-button" class="item">
					<img src="/images/boxmine/go-down.png">
					<label>Move Down</label>
				</a>
				<a id="move-top-button" class="item">
					<img src="/images/boxmine/go-top.png">
					<label>Move Top</label>
				</a>
				<a id="move-bottom-button" class="item">
					<img src="/images/boxmine/go-bottom.png">
					<label>Move Bottom</label>
				</a>
				<a id="toggle-grid-button" class="item">
					<img src="/images/boxmine/view-calendar-month.png">
					<label>Toggle Grid</label>
				</a>
				<a id="insert-object-button" class="item">
					<img src="/images/boxmine/insert-object.png">
					<label>Insert Object</label>
				</a>
				<a id="logout-button" class="item" href="{{pages.logout.uri}}">
					<img src="/images/boxmine/application-exit.png">
					<label>Logout</label>
				</a>
			</div>

		{{else}}

			<div class="icon-bar five-up">
				<a id="login-button" data-reveal-id="login-lightbox" class="item">
					<img src="/images/boxmine/cheese-take-photo.png">
					<label>Login</label>
				</a>
				<a id="register-button" data-reveal-id="register-lightbox" class="item">
					<img src="/images/boxmine/contact-new.png">
					<label>Register</label>
				</a>
			</div>

			<div id="login-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				<div class="row collapse">
					<div class="small-4 columns">
						<span class="prefix">Email</span>
					</div>
			
					<div class="small-8 columns">
						<input type="text" id="login-email">
					</div>
				</div>

				<div class="row collapse">
					<div class="small-4 columns">
						<span class="prefix">Password</span>
					</div>
			
					<div class="small-8 columns">
						<input type="text" id="login-password">
					</div>
				</div>

				<div class="row collapse">
					<div class="large-6 columns">
						<a href="#" class="lightbox-cancel-button tiny button alert expand">Close</a>
					</div>
					<div class="large-6 columns">
						<a href="#" id="login-submit-button" class="tiny button expand">Login</a>
					</div>
				</div>
			</div>

			{{#if pages.register.active}}

				<div id="register-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Email</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-email">
						</div>
					</div>

					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Password</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-password">
						</div>
					</div>

					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Confirm Password</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-confirm">
						</div>
					</div>

					<div class="row collapse">
						<div class="large-6 columns">
							<a href="#" class="lightbox-cancel-button tiny button alert expand">Close</a>
						</div>
						<div class="large-6 columns">
							<a href="#" id="register-submit-button" class="tiny button expand">Register</a>
						</div>
					</div>
				</div>

			{{/if}}

		{{/if}}

		{{#if user}}

			<div id="paper-container">
				<div id="paper" class="show-grid"></div>
			</div>

			<object data="/images/boxmine/zoom-panel.svg" type="image/svg+xml" id="zoom-panel" width="75" height="75"></object>	

			<!--
			<div id="window-container">
				{{{saveDocumentWindow_html}}}
				{{{objectAttributesWindow_html}}}
				{{{openDocumentWindow_html}}}
				{{{insertObjectWindow_html}}}
				{{{imageAttributesWindow_html}}}
				{{{textAttributesWindow_html}}}
				{{{exportDocumentWindow_html}}}
			</div>
			-->

		{{else}}
		
			{{{body}}}

		{{/if}}
	</body>
</html>
