<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

	<head>
		<title>{{locale "site-title"}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
                <link type="image/x-icon" rel="icon" href="/images/boxmine/favicon.ico">

 		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/boxmine/joint.css" />

		<!-- <link rel="stylesheet" type="text/css" href="/styles/elastic-core/core.css" /> -->
		<link rel="stylesheet" type="text/css" href="/libs/boxmine/foundation/css/foundation.css" />
       		<link rel="stylesheet" type="text/css" href="/styles/boxmine/global.css" />

		<script type="text/javascript" src="/scripts/boxmine/shared.js" charset="utf-8"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/vendor/jquery.js"></script>
		<script type="text/javascript" src="/libs/boxmine/joint.min.js"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="/libs/boxmine/foundation/js/foundation.min.js"></script>
	</head>
	
	<body>

		<script type="text/javascript">
			{{{home_js}}}
		</script>

		{{#if user}}
			<script type="text/javascript">
				{{{grapher_js}}}
			</script>
		{{/if}}

		<div id="error-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<div class="row collapse">
				<div id="error-message" class="large expand columns">An error occured!</div>
			</div>

			<div class="row">&nbsp;</div>

			<div class="row collapse">
				<div class="large-3 large-centered columns">
					<a href="#" class="lightbox-cancel-button tiny button alert expand">Ok</a>
				</div>
			</div>
		</div>

		{{#if user}}

			<div id="menu">
				<object id="newDocumentButton" name="newDocumentButton" class="menuButton" data="/images/boxmine/usvg/new-document.svg" type="image/svg+xml">
					<span>New Document</span>
				</object>	

				<object id="deleteDocumentButton" name="deleteDocumentButton" class="menuButton" data="/images/boxmine/usvg/delete-document.svg" type="image/svg+xml">
					<span>Delete</span>
				</object>	

				<object id="openDocumentButton" name="openDocumentButton" class="menuButton" data="/images/boxmine/usvg/open-document.svg" type="image/svg+xml">
					<span>Open Document</span>	
				</object>	

				<object id="saveDocumentButton" name="saveDocumentButton" class="menuButton" data="/images/boxmine/usvg/save.svg" type="image/svg+xml">
					<span>Save Document</span>
				</object>	

				<object id="exportDocumentButton" name="exportDocumentButton" class="menuButton" data="/images/boxmine/usvg/export-document.svg" type="image/svg+xml">
					<span>Export Document</span>
				</object>	

				<object id="undoButton" name="undoButton" class="menuButton" data="/images/boxmine/usvg/undo.svg" type="image/svg+xml">
					<span>Undo</span>
				</object>	
				
				<object id="redoButton" name="redoButton" class="menuButton" data="/images/boxmine/usvg/redo.svg" type="image/svg+xml">
					<span>Redo</span>
				</object>	
				
				<object id="cutButton" name="cutButton" class="menuButton" data="/images/boxmine/usvg/cut.svg" type="image/svg+xml">
					<span>Cutd</span>
				</object>	

				<object id="copyButton" name="copyButton" class="menuButton" data="/images/boxmine/usvg/copy.svg" type="image/svg+xml">
					<span>Copy</span>
				</object>	

				<object id="pasteButton" name="pasteButton" class="menuButton" data="/images/boxmine/usvg/paste.svg" type="image/svg+xml">
					<span>Paste</span>
				</object>	
				
				<object id="deleteButton" name="deleteButton" class="menuButton" data="/images/boxmine/usvg/delete.svg" type="image/svg+xml">
					<span>Delete</span>
				</object>	

				<object id="selectAllButton" name="selectAllButton" class="menuButton" data="/images/boxmine/usvg/select-all.svg" type="image/svg+xml">
					<span>Select All</span>
				</object>	

				<object id="groupButton" name="groupButton" class="menuButton" data="/images/boxmine/usvg/group.svg" type="image/svg+xml">
					<span>Group</span>
				</object>	

				<object id="ungroupButton" name="ungroupButton" class="menuButton" data="/images/boxmine/usvg/ungroup.svg" type="image/svg+xml">
					<span>Ungroup</span>
				</object>	

				<object id="moveUpButton" name="moveUpButton" class="menuButton" data="/images/boxmine/usvg/move-up.svg" type="image/svg+xml">
					<span>Move Up</span>
				</object>	

				<object id="moveDownButton" name="moveDownButton" class="menuButton" data="/images/boxmine/usvg/move-down.svg" type="image/svg+xml">
					<span>Move Down</span>
				</object>	

				<object id="moveTopButton" name="moveTopButton" class="menuButton" data="/images/boxmine/usvg/move-top.svg" type="image/svg+xml">
					<span>Move Top</span>
				</object>	

				<object id="moveBottomButton" name="moveBottomButton" class="menuButton" data="/images/boxmine/usvg/move-bottom.svg" type="image/svg+xml">
					<span>Move Bottom</span>
				</object>	

				<object id="toggleGridButton" name="toggleGridButton" class="menuButton" data="/images/boxmine/usvg/toggle-grid.svg" type="image/svg+xml">
					<span>Toggle Grid</span>
				</object>	

				<object id="insertObjectButton" name="insertObjectButton" class="menuButton" data="/images/boxmine/usvg/insert-object.svg" type="image/svg+xml">
					<span>Insert Object</span>
				</object>	

				<object id="logoutButton" name="logoutButton" class="menuButton" data="/images/boxmine/usvg/logout.svg" type="image/svg+xml">
					<span>Logout</span>
				</object>	
			</div>
	
		{{else}}

			<div id="menu">			
				<object id="loginButton" name="registerButton" class="menuButton" data="/images/boxmine/usvg/login.svg" type="image/svg+xml">
					<span>Login</span>
				</object>	
				<object id="registerButton" name="registerButton" class="menuButton" data="/images/boxmine/usvg/register.svg" type="image/svg+xml">
					<span>Register</span>
				</object>	
			</div>

			<div class="icon-bar five-up">
				<a id="login-button" data-reveal-id="login-lightbox" class="item">
					<img src="/images/boxmine/cheese-take-photo.png">
					<label>Login</label>
				</a>
				<a id="register-button" data-reveal-id="register-lightbox" class="item">
					<img src="/images/boxmine/contact-new.png">
					<label>Register</label>
				</a>
			</div>

			<div id="login-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				<div class="row collapse">
					<div class="small-4 columns">
						<span class="prefix">Email</span>
					</div>
			
					<div class="small-8 columns">
						<input type="text" id="login-email">
					</div>
				</div>

				<div class="row collapse">
					<div class="small-4 columns">
						<span class="prefix">Password</span>
					</div>
			
					<div class="small-8 columns">
						<input type="text" id="login-password">
					</div>
				</div>

				<div class="row collapse">
					<div class="large-6 columns">
						<a href="#" class="lightbox-cancel-button tiny button alert expand">Close</a>
					</div>
					<div class="large-6 columns">
						<a href="#" id="login-submit-button" class="tiny button expand">Login</a>
					</div>
				</div>
			</div>

			{{#if pages.register.active}}

				<div id="register-lightbox" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Email</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-email">
						</div>
					</div>

					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Password</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-password">
						</div>
					</div>

					<div class="row collapse">
						<div class="small-4 columns">
							<span class="prefix">Confirm Password</span>
						</div>
				
						<div class="small-8 columns">
							<input type="text" id="register-confirm">
						</div>
					</div>

					<div class="row collapse">
						<div class="large-6 columns">
							<a href="#" class="lightbox-cancel-button tiny button alert expand">Close</a>
						</div>
						<div class="large-6 columns">
							<a href="#" id="register-submit-button" class="tiny button expand">Register</a>
						</div>
					</div>
				</div>

			{{/if}}

		{{/if}}

		{{#if user}}

			<div id="paper-container">
				<div id="paper" class="show-grid"></div>
			</div>

			<object id="zoompanel" name="zoompanel" data="/images/boxmine/usvg/zoom-panel.svg" type="image/svg+xml" width="75" height="75"></object>	
			<!--
			<div id="window-container">
				{{{saveDocumentWindow_html}}}
				{{{objectAttributesWindow_html}}}
				{{{openDocumentWindow_html}}}
				{{{insertObjectWindow_html}}}
				{{{imageAttributesWindow_html}}}
				{{{textAttributesWindow_html}}}
				{{{exportDocumentWindow_html}}}
			</div>
			-->

		{{else}}
		
			{{{body}}}

		{{/if}}
	</body>
</html>
