<script type="text/javascript">
	{{{insertObjectWindow_js}}}
</script>

<div id="insert-object-window" class="default-window">
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg" data-name="BM-Ying-Yang"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg" data-name="BM-Circle"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg" data-name="BM-Cross"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-AWS-Cloud.svg" data-name="BM-AWS-Cloud"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Triangle.svg" data-name="BM-Triangle"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Ying-Yang.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Circle.svg"/>
		</div>
		<div class="object-item">
			<img src="/images/boxmine/shapes/BM-Cross.svg"/>
		</div>

	</ul>
</div>
