<script type="text/javascript">
	{{{insertObjectWindow_js}}}
</script>

<div id="default-insert-object-window" class="default-window">

	<div id="tab_strip">
		<ul>
			<li class="k-state-active">
				Basic Shapes
			</li>
			<li>
				Flow Chart
			</li>
			<li>
				UML
			</li>
			<li>
				Entity Relationships
			</li>
			<li>
				Network
			</li>
			<li>
				Other
			</li>
		</ul>
		
		<div>
			<a href="#" class="shape">
				<img src="/images/boxmine/shapes/Rounded_Rectangle.svg"/>
				<h4>Rounded Rectangle</h4>
			</a>
			<a href="#" class="shape">
				<img src="/images/boxmine/shapes/Text.svg"/>
				<h4>Text</h4>
			</a>
			<a href="#" class="shape">
				<img src="/images/boxmine/shapes/Ying_Yang.svg"/>
				<h4>Ying Yang</h4>
			</a>
		</div>
		
		<div>
		</div>
		
		<div>
		</div>
		
		<div>
		</div>
		
		<div>
		</div>
		
		<div>
			<a href="#" class="shape">
				<img src="/images/boxmine/shapes/Ying_Yang.svg" width="64" height="64"/>
				<h4>Ying-Yang</h4>
			</a>
		</div>
		
	</div>

	<div id="iow_ok_button" class="button">Ok</div>
	<div id="iow_cancel_button" class="button">Cancel</div>

</div>
