<script type="text/javascript">
	{{{insertObjectWindow_js}}}
</script>

<div id="insert-object-window" class="default-window">

	<div class="default-window-title">
		<object id="insertObjectCloseButton" name="insertObjectCloseButton" class="close-window" data="/images/boxmine/usvg/close-button.svg" type="image/svg+xml">
			<span>Logout</span>
		</object>
	</div>

	<img class="object-item" src="/images/boxmine/shapes/BM-Ying-Yang.svg" data-name="BM-Ying-Yang"/>
	<img class="object-item" src="/images/boxmine/shapes/BM-Circle.svg" data-name="BM-Circle"/>
	<img class="object-item" src="/images/boxmine/shapes/BM-Cross.svg" data-name="BM-Cross"/>
	<img class="object-item" src="/images/boxmine/shapes/BM-AWS-Cloud.svg" data-name="BM-AWS-Cloud"/>
	<img class="object-item" src="/images/boxmine/shapes/BM-Triangle.svg" data-name="BM-Triangle"/>
</div>
