<script type="text/javascript">
	{{{objectAttributesWindow}}}
</script>

<div id="default-object-attributes-window" class="default-window">

	<div class="field_group">
		<label class="field_label">Link:</label>
		<input id="link" class="field_element" value="" />
	</div>

	<div class="field_group">
		<label class="field_label">Opacity:</label>
		<input id="opacity" class="field_element" value="0" />
	</div>

	<div class="field_group">
		<label class="field_label">Border Radius:</label>
		<input id="border_radius" class="field_element" value="" />
	</div>

	<div class="field_group">
		<label class="field_label">Fill Start Colour:</label>
		 <input id="fill_start_colour" class="field_element" />
	</div>

	<div class="field_group">
		<label class="field_label">Stroke Width:</label>
		<input id="stroke_width" class="field_element" value="0" />
	</div>

	<div class="field_group">
		<label class="field_label">Stroke Opacity:</label>
		<input id="stroke_opacity" class="field_element" value="0" />
	</div>

	<div id="oaw_ok_button" class="button">Ok</div>
	<div id="oaw_cancel_button" class="button">Cancel</div>

</div>
