html {
	background-color: #E9E9E9;
	overflow-x: hidden;
}

body {
	background: none;
}

#wrapper {
	margin: 0 auto;
}

#nav-panel {
	margin: 10px;
	display: block;
	height: 32px;
	padding: 5px 10px;
	border-radius: 6px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

	#alert-panel {
		height: 16px;
		line-height: 16px;
		vertical-align: middle;
	}

#paper-container {
	border: 1px solid black;
	background: #CACACA;
	overflow: scroll;
	display: block;
	padding: 10px;
}

	#paper-container .show-grid {
		background-image: url('/images/boxmine/grid.gif');
	}

	#paper-container .hide-grid {
		background-image: none;
	}

#paper {
	background: #FFFFFF;
	border: 1px solid gray;
	margin: 0px auto;
	background-repeat: repeat;
	background-size: 10px 10px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	right: 0;
	top: 0;
}

.menu-item {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 32px;
	height: 32px;
}
		.menu-item span {
			display: none;
		}

.menu-spacer {
	background: black;
	margin: 0px 10px;
	height: 32px;
	width: 1px;
	overflow: hidden;
	display: inline-block;
}



.button {
	margin: 0;
	font-size: 0.88889rem !important;
}

	.button:hover {
	}

	.button:active {
	}


.field-group {
	clear: both;
	height: 30px;
	width: 100%;
}

.field-label {
	text-align: right;
	float: left;
	font-weight: bold;
	padding: 5px;
	padding: 2px 20px 2px 2px;
	width: 100px;
}

.field-element {
	float: left;
}

.default-window {
	display: none;
}

#tab-strip {
	border: 0;
	background: white;
}

.shape {
	width: 128px;
	height: 128px;
	display: block;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

	.shape img {
		border: 0;
		margin: auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	
	.shape h4 {
		text-align: center;
		text-decoration: none;
	}
		.shape h4:visited {
			text-decoration: none;
		}

.reveal-modal.open {
	top:40%!important; /* override inline style injected from JS */
}

#login-lightbox, #register-lightbox {
	width: 500px;
}

#error-lightbox {
	width: 400px;
}
	 
	#error-message {
		text-align: center;
	}

.icon-bar.five-up .item {
	margin: 0 !important;
	padding: 15px 5px !important;
	width: 95px;
}

.icon-bar.five-up label {
	font-size: 0.9rem !important;
	margin-top: 0.2rem !important;
}


.reveal-modal-bg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
}


