html {
	overflow-y: scroll;
	font:75% 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
}

#wrapper {
	margin: 0 auto;
}

#navigation {
	display: block;
	border: 1px solid black;
	border-bottom: 0;
	height: 32px;
	padding: 5px 10px;
	margin-top: 5px;
}

#paper_container {
	border: 1px solid black;
	background: #CACACA;
	overflow: scroll;
	display: block;
	padding: 10px;
}

	#paper_container .show_grid {
		background-image: url('/images/boxmine/grid.gif');
	}

	#paper_container .hide_grid {
		background-image: none;
	}

#paper {
	background: #FFFFFF;
	border: 1px solid gray;
	margin: 0px auto;
	background-repeat: repeat;
	background-size: 10px 10px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	right: 0;
	top: 0;
}

	
.menu_item {
	float: left;
	padding: 0;
	margin: 0;
	border: 1px solid white;
	width: 32px;
	height: 32px;
	padding-left: 5px;
}
		.menu_item:hover > span {
			display: block;	
		}
		
		.menu_item:active {
			position:relative;
			top:1px;
		}
		
		.menu_item span {
			position: relative;
			width: 120px;
			height: 20px;
			text-align: center;
			border: 1px solid black;
			background: white;
			padding: 0 10px;
			display: none;
			background-color: white;	
			top: 40px;
			left: -60px;
		}

.menu_spacer {
	background: black;
	margin: 0px 10px;
	width: 2px;
	height: 32px;
	width: 1px;
	overflow: hidden;
	float: left;
}

#cut {
	background:url('/images/boxmine/icons/32x32/actions/edit-cut.png') no-repeat no-repeat;
}

#copy {
	background:url('/images/boxmine/icons/32x32/actions/edit-copy.png') no-repeat no-repeat;
}

#paste {
	background:url('/images/boxmine/icons/32x32/actions/edit-paste.png') no-repeat no-repeat;
}

#delete {
	background:url('/images/boxmine/icons/32x32/actions/edit-delete.png') no-repeat no-repeat;
}

#undo {
	background:url('/images/boxmine/icons/32x32/actions/edit-undo.png') no-repeat no-repeat;
}

#redo {
	background:url('/images/boxmine/icons/32x32/actions/edit-redo.png') no-repeat no-repeat;
}

#zoom_in {
	background:url('/images/boxmine/icons/32x32/actions/zoom-in.png') no-repeat no-repeat;
}

#zoom_out {
	background:url('/images/boxmine/icons/32x32/actions/zoom-out.png') no-repeat no-repeat;
}

#zoom_reset {
	background:url('/images/boxmine/icons/32x32/actions/zoom-original.png') no-repeat no-repeat;
}

#group {
	background:url('/images/boxmine/icons/32x32/actions/group.png') no-repeat no-repeat;
}

#ungroup {
	background:url('/images/boxmine/icons/32x32/actions/ungroup.png') no-repeat no-repeat;
}

#select_all {
	background:url('/images/boxmine/icons/32x32/actions/edit-select-all.png') no-repeat no-repeat;
}

#save_document {
	background:url('/images/boxmine/icons/32x32/actions/document-save.png') no-repeat no-repeat;
}

#export_document {
	background:url('/images/boxmine/icons/32x32/actions/document-save-as.png') no-repeat no-repeat;
}

#new_document {
	background:url('/images/boxmine/icons/32x32/actions/window-new.png') no-repeat no-repeat;
}

#open_document {
	background:url('/images/boxmine/icons/32x32/actions/document-open.png') no-repeat no-repeat;
}
	
#toggle_grid {
	background:url('/images/boxmine/icons/32x32/actions/view-calendar-month.png') no-repeat no-repeat;
}

#attributes {
	background:url('/images/boxmine/icons/32x32/actions/system-run.png') no-repeat no-repeat;
}

#insert_image {
	background:url('/images/boxmine/icons/32x32/actions/insert-image.png') no-repeat no-repeat;
}

#insert_object {
	background:url('/images/boxmine/icons/32x32/actions/insert-object.png') no-repeat no-repeat;
}

#insert_text {
	background:url('/images/boxmine/icons/32x32/actions/insert-text.png') no-repeat no-repeat;
}

#move_up {
	background:url('/images/boxmine/icons/32x32/actions/go-up.png') no-repeat no-repeat;
}

#move_down {
	background:url('/images/boxmine/icons/32x32/actions/go-down.png') no-repeat no-repeat;
}

#move_top{
	background:url('/images/boxmine/icons/32x32/actions/go-top.png') no-repeat no-repeat;
}

#move_bottom {
	background:url('/images/boxmine/icons/32x32/actions/go-bottom.png') no-repeat no-repeat;
}

.button {
	background-color:#f9f9f9;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height: 32px;
	padding: 0px 20px;
	min-width: 60px;
	text-decoration:none;
	text-align:center;
	float: right;
	margin: 5px;
}

	.button:hover {
		background-color:#e9e9e9;
	}

	.button:active {
		position:relative;
		top:1px;
	}


.field_group {
	clear: both;
	height: 30px;
	width: 100%;
}

.field_label {
	text-align: right;
	float: left;
	font-weight: bold;
	padding: 5px;
	padding: 2px 20px 2px 2px;
	width: 100px;
}

.field_element {
	float: left;
}

.default-window {
	display: none;
}

#tab_strip {
	border: 0;
	background: white;
}

.shape {
	width: 128px;
	height: 128px;
	display: block;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

	.shape img {
		border: 0;
		margin: auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	
	.shape h4 {
		text-align: center;
		text-decoration: none;
	}
		.shape h4:visited {
			text-decoration: none;
		}
